// Font
$abril: 'Abril Fatface',
cursive;
$lato: 'Lato',
sans-serif;

$fw--1: 300;
$fw--2: 400;
$fw--3: 700;

//color
$grey: #131516;
$light-grey: #707C80;
$white: #fff;
$pink: #cc2a2a;
$hover-grey: rgba(160, 160, 160, .75);

//Sections 

$section-margin: 2.3em auto;


// Mobile 
.mobile__display {
    display: block;
}

.mobile__display--false {
    display: none;
}

// CTA

@mixin cta-button {
    @include body_text($lato, $fw--2, 20px, $light-grey);
}

// hover 

@mixin hover-effect($color: $light-grey) {
    color: $color;
}