

// Font
$abril: 'Abril Fatface', cursive;
$lato: 'Lato', sans-serif;

//color
$grey: #131516;
$light-grey: #707C80;
$white: #fff;

$hover-grey: rgba(160, 160, 160, .75);


// Mobile 
.mobile__display {
    display: block;
}

.mobile__display--false {
    display: none;
}