// General Site setting
// *********************
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.site_container {
    @include flexbox();
    @include flex-direction(column);
    height: 100vh;

    .page-content {
        @include flex(1);
    }
}
// 

.wrapper {
    max-width: $desktop;
   // width: calc(100% - 2vw);
    margin: 0 3em;
    

    @include if-min-width($desktop) {
        margin: 0 auto;
        width: 100%;
    }
}
.landing_block {
    text-align: center;
    .landing_image {
        width: 100%;
        max-width: 1030px;
        height: 400px;
        object-fit: cover;
    }
}



// Header Nav
// *********************
a {
    color: $grey;
    text-decoration: none;

    &:hover {
        color: $hover-grey;
    }

    
}


nav {
    visibility: hidden;
    @include if-min-width($desktop) {
        visibility: visible;
    }
}

    nav ul.list {
        @include flexbox();
        @include justify-content(space-between);
        max-width: $desktop;
        width: 100%;
        list-style: none;
        margin: 2.3em auto;
        padding: 1rem 0;

        li {

            a {
                @include body_text($lato, normal, 18px, $grey);
                @include if-min-width($desktop-large) {
                    @include body_text($lato, normal, 25px, $grey);
                }
                &:hover {
                    color: $hover-grey;
                }
            }

            &:first-child a {
                font-weight: $fw--3;
            }
        }
    }


    // Hamburger Menu Icon
    .hamburgerMenu {
        display: block;
        position: absolute;
        top: 56px;
        right: 30px;
        display: inline-block;
        cursor: pointer;

        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            background: $grey;
            width: 2.2rem;
            height: 1px;
        }

        span:hover, &:hover::before, &:hover::after {
            background: $light-grey;
        }

        span{
            display: block;
            width: 2.2rem;
            height: 1px;
            background: $grey;
            margin: 0.5rem 0;
            transition: .4s ease-in-out;
            position: relative;


        }
        @include if-min-width($desktop) {
            display: none;
        }
    } 

    // Mobile Nav
    .mobile-nav__full {
        width: 100vw;
        height: 100vh;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background: $grey;
        @include flexbox();

        ul {
            list-style: none;
            padding: 0;
            text-align: center;
            margin: auto;

            li {
                margin: 2em auto;

                a {
                    @include body-text($abril, normal, 45px, $white);

                    &:hover {
                        color: $light-grey;
                    }
                }
            }
        }
    }
    

// Footer Nav
// *********************

.footer-col-wrapper {
    @include flexbox();
    @include flex-direction(column);
    .footer-col {
        @include flexbox();
        .social-media-list {
            @include flexbox();
            @include justify-content(center);
            width: 100%;
            list-style-type: none;
            padding: 0;
            li{
                width: 3%;
                margin: auto 1em;
                

                a svg {
                    width: 100%;
                    fill: $light-grey;
                }
            } 
        }
    }
    .footer-col-2 {
        @include justify-content(center);
        text-align: center;
        span a {
            text-decoration: none;
            @include body_text($lato, normal, 14px, $grey);
         }
        
     }
}