// General Site setting
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.site_container {
    @include flexbox();
    @include flex-direction(column);
    height: 100vh;

    .page-content {
        @include flex(1);
    }
}

.wrapper {
    width: $desktop;
    margin: 0 auto;
}

.selfie-block {
    text-align: center;
}

.selfie {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
}

// Header Nav

a {
    color: $grey;
    text-decoration: none;

    &:hover {
        color: $hover-grey;
    }

    
}

nav ul.list {
    @include flexbox();
    @include justify-content(space-around);
    list-style: none;
    margin-top: 2em;
    padding: 1rem 0;

    li a {
        @include body_text($abril, normal, 18px, $grey);

        &:hover {
            color: $hover-grey;
        }
    }
}

// Footer Nav

.footer-col-wrapper {
    @include flexbox();
    @include flex-direction(column);
    .footer-col {
        @include flexbox();

        // .contact-list {
        //     @include body_text($lato, normal, 14px, $grey);
        //     color: $light-grey;
        // }

        .social-media-list {
            @include flexbox();
            @include justify-content(center);
            width: 100%;
            list-style-type: none;
            padding: 0;
            li{
                width: 3%;
                margin: auto 1em;
                

                a svg {
                    width: 100%;
                    fill: $light-grey;
                }
            } 
        }
    }
    .footer-col-2 {
        @include justify-content(center);
        text-align: center;
        span a {
            text-decoration: none;
            @include body_text($lato, normal, 14px, $grey);
         }
        
     }
}