// Global Page Setting
// **************

.home_intro {
    h1 {
        @include h1();
    }

    h2 {
        @include h2();
    }

}

// Homepage
// **************

.profile-picture {
    @media (max-width: 500px) {
        width: 100%;
    }
}

.homepage {

    p.bio {
        @include paragraph_text($tablet, to-max, 18px);
    }

    a {
        padding: 0 0.5rem;
    }
}

// End of Homepage


// Project Layout
// **************
.project_intro {
    @include flexbox();
    background-image: url('/assets/images/grid-paper-bg.jpg');
    height: 400px;
    width: 100%;
    max-width: 1030px;
    margin: auto;

    h1.collection--title {
        @include h1();
        margin: auto;
        // line-height: 400px;

    }
}

.project-content {
    margin: calc(2.3em * 2) auto;

}

.projects {

    h2 {
        @include project-h2();
    }

    .grid-lg .project__container {
        @supports (display: grid) {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0 1rem;
        }

        @supports not (display: grid) {
            @include flexbox();
            @include flex-wrap(wrap);
        }

        display: flex;

        .projects__project {
            @supports not (display: grid) {
                @include flex(2 1 45%);
                margin: 0 2.5%;
            }

            @media screen and (min-width: $desktop) {
                &:nth-child(3n) {
                    @supports (display: grid) {
                        grid-column: 1/-1;
                    }
                }
            }

            margin-bottom: 2.3em;


            .projects__link {
                .projects__img {
                    margin: 0;
                    padding: 0;

                    .featured_img {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }

                &:hover {
                    div>* {
                        color: $hover-grey;
                    }
                }
            }

            div {
                p {
                    @include body_text($lato, $fw--1, 25px, $light-grey);
                }
            }
        }
    }


}

.projects {
    @media screen and (min-width: $tablet) {
        .grid-lg .project__container {
            grid-template-columns: 1fr 1fr;
        }

    }

}

// End of Project Layout

// Contact Template
// *********************

.contact--template {

    li.skill {
        span {
            padding-right: 10px;
            margin: auto;
        }
    }

    h2 {
        @include body_text($abril, 700, 32px, $grey);
    }


    p,
    ul li {
        @include paragraph_text($tablet, to-max, 25px);
    }

    p {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin: .2rem 0;

        }
    }

    a {
        padding: 0 0.5rem;
        color: $grey;
        font-weight: $fw--2;

        &:hover {
            color: $hover-grey;
        }
    }

    .contact_top {

        @include flexbox();
        @include flex-direction(column);

        h2 {
            @media (max-width: $tablet) {
                text-align: center;
            }
        }

        .contact_services {

            ul {

                @media(min-width: $desktop) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                li {
                    span {
                        color: $pink;
                    }
                }
            }
        }

        @include if-min-width($desktop) {
            @include flex-direction(row);

            .contact_interest {
                width: 35%;
            }

            .contact_services {
                @include flex(2 1 65%);
            }
        }
    }



    // .contact-quote {

    //     @include flexbox();

    //     @include if-min-width($desktop) {
    //         width: 60%;
    //         margin: $section-margin;
    //     }

    //     position: relative;
    //     height: 200px;


    //     &::before,
    //     &::after {
    //         content: "\201C";
    //         display: block;
    //         position: absolute;
    //         font-size: 60px;
    //         font-weight: bold;
    //     }

    //     &::before {
    //         top: 0;
    //         left: 0;
    //     }

    //     &::after {
    //         right: 0;
    //         bottom: -50px;
    //     }

    //     h3 {
    //         @include body_text($abril, $fw--3, 32px, $grey);
    //         text-align: center;
    //         margin: auto;

    //         @include if-min-width($tablet) {
    //             width: 60%;
    //         }
    //     }
    // }

    .contact_intro {
        margin-top: 2.3em;
    }
}