.item--title {
    @include collection-item-title();

    @include if-min-width($tablet) {
        line-height: 400px;
    }

    margin: auto;
}




.project {

    h2 {
        @include body_text($abril, 700, 32px, $grey);
    }


    p,
    ul li {
        @include paragraph_text($tablet, to-max, 25px);
    }

    p {
        margin: 0;
    }

    a {
        padding: 0 0.5rem;
    }

    .project-wrapper .project-detail {

        div {
            margin: $section-margin;
        }

        .project-detail__gallery {
            width: 100%;
            text-align: center;

            img {
                width: 100%;
                margin: auto;
                margin: calc(2.3em / 2) auto;
            }

            &:not([class*="grid"]) img:first-child {
                @include if-min-width($tablet) {
                    width: 70%;
                }
            }
        }



        .skills__list {
            list-style-type: none;
            padding: 0;

            @media (min-width: $desktop) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            li {

                span i {
                    color: $pink;
                    margin-right: 10px;
                }
            }


        }

        .project-detail__img {
            @include supports-grid() {
                @include if-min-width($tablet) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            @include not-supports-grid() {
                @include if-min-width($tablet) {
                    @include flexbox();
                    @include flex-wrap(wrap);

                    img {
                        flex: 2 1 50%;
                    }
                }
            }


            img {
                width: 100%;
            }
        }

        .project-cta {

            a {
                padding: 0;
                position: relative;
                color: $baby-pink;


                &:hover {
                    color: $hover-grey;

                    span {
                        padding: 15px;
                        transition: .2s;
                        color: $hover-grey;
                    }
                }

                span {
                    @include hover-effect();
                    padding-left: 10px;
                    color: $baby-pink;
                }
            }
        }

    }

    .project-quote {

        @include flexbox();

        @include if-min-width($tablet) {
            width: 60%;
            margin: auto;
        }

        position: relative;
        height: 200px;



        &::before,
        &::after {
            content: "\201C";
            display: block;
            position: absolute;
            font-size: 60px;
            font-weight: bold;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            right: 0;
            bottom: -50px;
        }

        h3 {
            @include body_text($abril, $fw--3, 32px, $grey);
            text-align: center;
            margin: auto;

            @include if-min-width($tablet) {
                width: 50%;
            }
        }
    }

    .project-content {
        margin: $section-margin;
    }
}